body{
	font: 16px helvetica normal;
}

td{
	border: solid 1px grey;
	width:20px;
	height:20px;
}

.playing{
  background-color: maroon;
}

.notPlaying{
  background-color: red;
}

.isClicked{
	background-color: blue;
}

